#  Подготовка данных 2011 для построения графиков для статьи  по данным

    Ср дек 13 18:46:49 MSK 2017
    /home/sphere/github/Sphere/Data2013

In [39]:
!date
!pwd

Вт июн 16 23:21:46 MSK 2020
/home/alena/SPHERE/Analysis/Collect_datum

In [40]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
#чтобы датасеты с множеством колонок отображались полностью
pd.set_option('display.max_rows', 100, 'display.max_columns', 200)

In [54]:
year = 2011
dirname = '~/SPHERE/ExpData/Data.dbg/' + str(year) + '/'
!ls $dirname

2011_flight1.dbg	  2011_flight3.dbg	    all_dbg_params.awk
2011_flight1.dbg.dat	  2011_flight3.dbg.dat	    datum_2011_min.csv
2011_flight1.dbg_sec.dat  2011_flight3.dbg_sec.dat  datum_2011_sec.csv
2011_flight2.dbg	  2011_flight4.dbg	    read_all.sh
2011_flight2.dbg.dat	  2011_flight4.dbg.dat	    read_each.sh
2011_flight2.dbg_sec.dat  2011_flight4.dbg_sec.dat

In [55]:
year = 2011
dirname = '~/SPHERE/ExpData/Data.dbg/' + str(year) + '/'
datum1 = pd.read_csv(dirname + '2011_flight1.dbg.dat', header = 0, index_col=False, sep='\t')
datum2 = pd.read_csv(dirname + '2011_flight2.dbg.dat', header = 0, index_col=False, sep='\t')
datum3 = pd.read_csv(dirname + '2011_flight3.dbg.dat', header = 0, index_col=False, sep='\t')
datum4 = pd.read_csv(dirname + '2011_flight4.dbg.dat', header = 0, index_col=False, sep='\t')
datum1['run'] = 1
datum2['run'] = 2
datum3['run'] = 3
datum4['run'] = 4
len(datum1)

279

In [43]:
datum1.columns

Index(['year', 'month', 'day', 'time', 'N', 'E', 'H', 'H-455', 'Gqi', 'Gsn',
       'Ghdp', 'Ggs', 'compass', 'P0_code', 'T0_code', 'P_hpa0', 'T0,C',
       'P1_code', 'T1_code', 'P_hpa1', 'T1,C', 'U15,V', 'U5,V', 'Uac,V', 'I,A',
       'Tpow,C', 'Tmos,C', 'Bot,C', 'Top,C', 'Num', 'Clin1', 'Clin2', 'ClinTh',
       'run'],
      dtype='object')

In [56]:
#data_by_2013 = [datum1, datum2,datum3,datum4,datum5]
data_by_2011 = [datum1, datum2, datum3, datum4]
datum = pd.concat(data_by_2011)

datum['compass'] *= 0.1 

# удалить ненужные столбцы
#del datum['NUM']
del datum['Num']

In [45]:
# Назначить типы столбцам
datum.dtypes

year         int64
month        int64
day          int64
time         int64
N          float64
E          float64
H          float64
H-455      float64
Gqi          int64
Gsn          int64
Ghdp       float64
Ggs        float64
compass    float64
P0_code    float64
T0_code    float64
P_hpa0     float64
T0,C       float64
P1_code    float64
T1_code    float64
P_hpa1     float64
T1,C       float64
U15,V      float64
U5,V       float64
Uac,V      float64
I,A        float64
Tpow,C     float64
Tmos,C     float64
Bot,C      float64
Top,C      float64
Clin1      float64
Clin2      float64
ClinTh     float64
run          int64
dtype: object

In [57]:
datum

,year,month,day,time,N,E,H,H-455,Gqi,Gsn,Ghdp,Ggs,compass,P0_code,T0_code,P_hpa0,"T0,C",P1_code,T1_code,P_hpa1,"T1,C","U15,V","U5,V","Uac,V","I,A","Tpow,C","Tmos,C","Bot,C","Top,C",Clin1,Clin2,ClinTh,run
0,2011,3,2,143850,5147.8869,10423.2644,995.3,540.3,1,10,0.9,-37.2,NaN,40763.0,35337.0,908.4,21.2,NaN,NaN,NaN,NaN,15.02,5.16,18.80,2.41,35.75,-2.50,14.9,18.7,-3.9,1.2,NaN,1
1,2011,3,2,143951,5147.8863,10423.2636,995.2,540.2,1,10,0.9,-37.2,NaN,40753.0,35353.0,908.5,21.4,NaN,NaN,NaN,NaN,15.01,5.16,18.80,2.42,35.75,-2.50,15.0,18.9,-4.0,0.9,NaN,1
2,2011,3,2,144052,5147.8859,10423.2640,995.3,540.3,1,10,0.9,-37.2,NaN,40744.0,35372.0,908.6,21.5,NaN,NaN,NaN,NaN,15.01,5.17,18.80,2.42,36.00,-2.25,15.1,19.2,-3.9,1.1,NaN,1
3,2011,3,2,144153,5147.8858,10423.2640,995.3,540.3,1,9,1.1,-37.2,NaN,40732.0,35392.0,908.7,21.7,NaN,NaN,NaN,NaN,15.01,5.16,18.80,2.42,36.50,-2.50,15.2,19.2,-4.0,1.2,NaN,1
4,2011,3,2,144352,5147.8857,10423.2631,995.3,540.3,1,9,1.1,-37.2,NaN,40710.0,35423.0,908.7,21.9,NaN,NaN,NaN,NaN,15.01,5.16,18.81,2.41,36.75,-2.50,15.4,19.6,-4.2,1.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2011,3,7,212304,5147.7994,10423.5217,1341.3,886.3,1,9,1.1,-37.2,NaN,38985.0,36130.0,876.3,27.4,NaN,NaN,NaN,NaN,15.01,5.17,18.75,2.73,38.75,-4.75,25.4,27.7,-3.5,-1.7,NaN,4
361,2011,3,7,212405,5147.7993,10423.5194,1341.6,886.6,1,9,1.1,-37.2,NaN,38983.0,36130.0,876.2,27.4,NaN,NaN,NaN,NaN,15.01,5.16,18.75,2.76,38.75,-4.75,25.3,27.7,-3.6,-1.6,NaN,4
362,2011,3,7,212506,5147.7974,10423.5178,1341.5,886.5,1,9,1.0,-37.2,NaN,38977.0,36130.0,876.1,27.4,NaN,NaN,NaN,NaN,15.01,5.17,18.75,2.76,38.75,-5.00,25.3,27.7,-3.6,-1.7,NaN,4
363,2011,3,7,212607,5147.7948,10423.5155,1341.5,886.5,1,9,1.1,-37.2,NaN,38979.0,36131.0,876.2,27.4,NaN,NaN,NaN,NaN,15.01,5.16,18.76,2.79,38.75,-5.00,25.4,27.7,-3.3,-1.7,NaN,4
364,2011,3,7,212806,5147.7970,10423.5164,1341.5,886.5,1,9,1.1,-37.2,NaN,38979.0,36131.0,876.2,27.4,NaN,NaN,NaN,NaN,15.01,5.17,18.75,2.75,39.00,-5.00,25.3,27.7,-3.4,-2.0,NaN,4

In [58]:
datum.run.value_counts()

2    417
3    370
4    365
1    279
Name: run, dtype: int64

In [48]:
# посчитать высоту над поверхностью озера
H0 = datum.H.min()
print(H0)
#datum['H-455'] = datum.H - H0

460.1

In [49]:
datum.describe()

,year,month,day,time,N,E,H,H-455,Gqi,Gsn,Ghdp,Ggs,compass,P0_code,T0_code,P_hpa0,"T0,C",P1_code,T1_code,P_hpa1,"T1,C","U15,V","U5,V","Uac,V","I,A","Tpow,C","Tmos,C","Bot,C","Top,C",Clin1,Clin2,ClinTh,run
count,1431.0,1431.0,1431.000000,1431.000000,1431.000000,1431.000000,1431.000000,1431.000000,1431.000000,1431.000000,1431.000000,1.431000e+03,0.0,1416.000000,1416.000000,1416.000000,1416.000000,0.0,0.0,0.0,0.0,1431.000000,1431.000000,1431.000000,1431.000000,1431.000000,1431.000000,1431.000000,1431.000000,963.000000,963.000000,0.0,1431.000000
mean,2011.0,3.0,5.183788,177255.253669,5147.844039,10423.395468,1104.203843,649.203843,1.054507,9.817610,0.902516,-3.720000e+01,NaN,40178.593927,35820.783898,902.236935,24.996186,NaN,NaN,NaN,NaN,15.010741,5.186883,18.786366,2.728994,36.584032,-5.896751,22.923340,25.441300,-1.599896,0.842471,NaN,2.573725
std,0.0,0.0,1.732588,24393.956259,0.026882,0.080470,244.907334,244.907334,0.227095,0.749544,0.089094,8.103019e-13,NaN,995.519301,357.066048,26.896520,2.738084,NaN,NaN,NaN,NaN,0.003367,0.956385,0.591353,0.079426,2.016598,1.774983,3.043569,2.819032,1.488399,1.519428,NaN,1.070250
min,2011.0,3.0,2.000000,130058.000000,5147.763000,10423.261200,460.100000,5.100000,1.000000,8.000000,0.800000,-3.720000e+01,NaN,38934.000000,35221.000000,874.000000,20.300000,NaN,NaN,NaN,NaN,15.000000,5.150000,18.690000,2.410000,32.500000,-9.250000,13.900000,18.300000,-6.300000,-2.400000,NaN,1.000000
25%,2011.0,3.0,5.000000,155192.500000,5147.832450,10423.341700,856.500000,401.500000,1.000000,9.000000,0.800000,-3.720000e+01,NaN,39282.750000,35542.500000,875.400000,22.875000,NaN,NaN,NaN,NaN,15.010000,5.160000,18.760000,2.720000,34.750000,-7.500000,21.000000,23.300000,-2.800000,-0.400000,NaN,2.000000
50%,2011.0,3.0,6.000000,180245.000000,5147.844700,10423.367100,988.300000,533.300000,1.000000,10.000000,0.900000,-3.720000e+01,NaN,40535.000000,35862.500000,917.750000,25.300000,NaN,NaN,NaN,NaN,15.010000,5.160000,18.780000,2.750000,36.750000,-5.750000,23.600000,26.000000,-2.100000,1.100000,NaN,3.000000
75%,2011.0,3.0,7.000000,200347.000000,5147.863950,10423.432850,1348.800000,893.800000,1.000000,10.000000,1.000000,-3.720000e+01,NaN,40749.250000,36103.000000,921.000000,27.200000,NaN,NaN,NaN,NaN,15.010000,5.160000,18.790000,2.760000,38.500000,-5.000000,25.300000,27.700000,-0.000000,2.100000,NaN,4.000000
max,2011.0,3.0,7.000000,221942.000000,5147.895200,10423.627600,1364.500000,909.500000,2.000000,12.000000,1.200000,-3.720000e+01,NaN,42659.000000,40856.000000,1047.500000,62.600000,NaN,NaN,NaN,NaN,15.020000,41.340000,41.120000,2.850000,40.500000,-2.000000,27.200000,47.500000,0.100000,4.100000,NaN,4.000000

## Пересчет изменения координат в метры

In [50]:
# пересчет из координат в метры
# координаты стартовой площадки 2013: 
# 51 47.8154 N 104 23.3198E
# 51°47'48.9"N 104°23'19.2"E
# 51.796923, 104.388663
#
# Точка старта для 2012 года очень приблизительно: 
# 5147.813978 N 10423.327528 E (координаты наземного кунга)
# 5147.824 	10423.3140
# 
# длина дуги параллели dE в зависимости от широты в 1°, 1' и 1" по долготе, метров
#  0	111321	1855	31
# 51	70199	1170	19
# 52	68679	1145	19
# 
# Длина дуги меридиана dN в зависимости от широты в 1°, 1' и 1" по широте, метров
#  0	110579	1843	31
# 50	111278	1855	31
# 55	111370	1856	31

# длина одной минуты в метрах
dE0m = 1150.426
dN0m = 1855.324

# координаты места старта 2011 в минутах широты или долготы 5147.8437	10423.3363
N0 = 5147.8437  #5147.824   #5147.8154
E0 = 10423.3363 #10423.3140 #10423.3198

In [51]:
datum['dN'] = (datum['N'] - N0) * dN0m
datum['dE'] = (datum['E'] - E0) * dE0m

# Посчитать давление и температуру по данным барометров

In [33]:
# calculate values of pressure & temperature from kods pp & tt
# pp - pressure kod, tt - temperature kod  in INT numbers

def calc_bar_temp(pp, tt, ptype):

    ## set formula parameters
    a  = [4, 7., 16., 6, 13]
    c  = [7.0, 13919.0, 1793.0, 198.0, 131.0, 35820.0, 5066.0, 2500.0]  ## C0 onboard 0
    c1 = [7.0, 16762.0, 2083.0, 310.0, 750.0, 35424.0, 5338.0, 2500.0]  ## C1 onboard 1
    c2 = [7.0, 27626.0, 3949.0, 314.0, 317.0, 30355.0, 5441.0, 2500.0]  ## C2 ground 0
    c3 = [7.0, 18489.0, 2736.0, 292.0, 356.0, 35569.0, 5253.0, 2500.0]  ## C3 ground 1
    
    if ptype == 0:   ## barometer onboard 1
        c = c
    elif ptype == 1: ## barometer onboard 1
        c = c1
    elif ptype == 2: ## barometer ground 0 
        c = c2
    elif ptype == 3: ## barometer ground 0
        c = c3
    elif ptype == 10: ## example barometer
        c = [7, 29908, 3724, 312, 441, 9191, 3990, 2500]
        a = [4, 1, 4, 4, 9]
    else:
        print("\n\n Error! Unknown coefficient set!!! \n")
        return
     
    ## -- 1 step: --  
    dUT  = tt - c[5]
    qqq  = dUT * dUT / (128.0 * 128.0 * (2 ** a[3])) 
    if(tt < c[5]):
        qqq *= a[2]
    else:
        qqq *= a[1]
    dUT -= qqq
 
    ### -- step 2 --
    OFF = (c[2] + (c[4] - 1024.0) * dUT / 16384.0 ) * 4
    SENS = c[1] + (c[3] * dUT / 1024.0)
    X = SENS * (pp - 7168) / 16384 - OFF
    P = X * 100.0/ 32.0 + c[7] * 10
    P = P #/ 10
     
    ### -- step 3: calculate temperature --
    T = 250 + dUT * c[6] / 65536 - dUT/ (2 ** a[4])
    T = T / 10

    #print("Bar:  T[ %5i ] = %5.1f C  P[ %5i ] = %6.2f kPa (%4.1f mm w)" % (tt, T, pp, P/100, P/0.981) )
    return P/100, T

In [34]:
datum['P0'] = datum.apply(lambda row : calc_bar_temp(row['kodP0'],row['kodT0'], 0)[0], axis = 1)
datum['T0'] = datum.apply(lambda row : calc_bar_temp(row['kodP0'],row['kodT0'], 0)[1], axis = 1)
#datum['P_hpa1'] = datum.apply(lambda row : calc_bar_temp(row['kodP1'],row['kodT1'], 1)[0], axis = 1)
#datum['T1,C'] = datum.apply(lambda row : calc_bar_temp(row['kodP1'],row['kodT1'], 1)[1], axis = 1)

In [29]:
datum.columns

Index(['year', 'month', 'day', 'time', 'N', 'E', 'H', 'H-455', 'Gqi', 'Gsn',
       'Ghdp', 'Ggs', 'compass', 'P0_code', 'T0_code', 'P_hpa0', 'T0,C',
       'P1_code', 'T1_code', 'P_hpa1', 'T1,C', 'U15,V', 'U5,V', 'Uac,V', 'I,A',
       'Tpow,C', 'Tmos,C', 'Bot,C', 'Top,C', 'Clin1', 'Clin2', 'ClinTh', 'run',
       'dN', 'dE'],
      dtype='object')

In [52]:
datum

,year,month,day,time,N,E,H,H-455,Gqi,Gsn,Ghdp,Ggs,compass,P0_code,T0_code,P_hpa0,"T0,C",P1_code,T1_code,P_hpa1,"T1,C","U15,V","U5,V","Uac,V","I,A","Tpow,C","Tmos,C","Bot,C","Top,C",Clin1,Clin2,ClinTh,run,dN,dE
0,2011,3,2,143850,5147.8869,10423.2644,995.3,540.3,1,10,0.9,-37.2,NaN,40763.0,35337.0,908.4,21.2,NaN,NaN,NaN,NaN,15.02,5.16,18.80,2.41,35.75,-2.50,14.9,18.7,-3.9,1.2,NaN,1,80.149997,-82.715629
1,2011,3,2,143951,5147.8863,10423.2636,995.2,540.2,1,10,0.9,-37.2,NaN,40753.0,35353.0,908.5,21.4,NaN,NaN,NaN,NaN,15.01,5.16,18.80,2.42,35.75,-2.50,15.0,18.9,-4.0,0.9,NaN,1,79.036802,-83.635970
2,2011,3,2,144052,5147.8859,10423.2640,995.3,540.3,1,10,0.9,-37.2,NaN,40744.0,35372.0,908.6,21.5,NaN,NaN,NaN,NaN,15.01,5.17,18.80,2.42,36.00,-2.25,15.1,19.2,-3.9,1.1,NaN,1,78.294673,-83.175800
3,2011,3,2,144153,5147.8858,10423.2640,995.3,540.3,1,9,1.1,-37.2,NaN,40732.0,35392.0,908.7,21.7,NaN,NaN,NaN,NaN,15.01,5.16,18.80,2.42,36.50,-2.50,15.2,19.2,-4.0,1.2,NaN,1,78.109140,-83.175800
4,2011,3,2,144352,5147.8857,10423.2631,995.3,540.3,1,9,1.1,-37.2,NaN,40710.0,35423.0,908.7,21.9,NaN,NaN,NaN,NaN,15.01,5.16,18.81,2.41,36.75,-2.50,15.4,19.6,-4.2,1.0,NaN,1,77.923608,-84.211183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2011,3,7,212304,5147.7994,10423.5217,1341.3,886.3,1,9,1.1,-37.2,NaN,38985.0,36130.0,876.3,27.4,NaN,NaN,NaN,NaN,15.01,5.17,18.75,2.73,38.75,-4.75,25.4,27.7,-3.5,-1.7,NaN,4,-82.190853,213.288980
361,2011,3,7,212405,5147.7993,10423.5194,1341.6,886.6,1,9,1.1,-37.2,NaN,38983.0,36130.0,876.2,27.4,NaN,NaN,NaN,NaN,15.01,5.16,18.75,2.76,38.75,-4.75,25.3,27.7,-3.6,-1.6,NaN,4,-82.376386,210.643001
362,2011,3,7,212506,5147.7974,10423.5178,1341.5,886.5,1,9,1.0,-37.2,NaN,38977.0,36130.0,876.1,27.4,NaN,NaN,NaN,NaN,15.01,5.17,18.75,2.76,38.75,-5.00,25.3,27.7,-3.6,-1.7,NaN,4,-85.901501,208.802319
363,2011,3,7,212607,5147.7948,10423.5155,1341.5,886.5,1,9,1.1,-37.2,NaN,38979.0,36131.0,876.2,27.4,NaN,NaN,NaN,NaN,15.01,5.16,18.76,2.79,38.75,-5.00,25.4,27.7,-3.3,-1.7,NaN,4,-90.725344,206.156339
364,2011,3,7,212806,5147.7970,10423.5164,1341.5,886.5,1,9,1.1,-37.2,NaN,38979.0,36131.0,876.2,27.4,NaN,NaN,NaN,NaN,15.01,5.17,18.75,2.75,39.00,-5.00,25.3,27.7,-3.4,-2.0,NaN,4,-86.643631,207.191723

## Save data to file

In [53]:
datum.to_csv(dirname + 'datum_2011_sec.csv')

In [32]:
datum[['run', 'time', 'Clin1', 'Clin2']].to_csv('clin_2011.csv')