#  Подготовка данных 2012 для построения графиков для статьи  по данным

    Ср дек 13 18:46:49 MSK 2017
    /home/sphere/github/Sphere/Data2013

In [1]:
!date
!pwd

Вт июн 16 23:30:32 MSK 2020
/home/alena/SPHERE/Analysis/Collect_datum

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
#from tqdm import tqdm
#import math as mt
import numpy as np
#чтобы датасеты с множеством колонок отображались полностью
pd.set_option('display.max_rows', 100, 'display.max_columns', 200)

In [3]:
!ls log*

log0.parsed.csv
log2.parsed.csv
log6.parsed.csv
log7.parsed.csv
log_ground_2012.03.12_to_2012.03.14.parsed.csv
log_ground_2012.03.14_to_2013.03.11.parsed.csv
log_ground_2012.03.15.parsed.csv
log_ground_2013.03.10_to_2013.03.16.parsed.csv
log_onboard_2010.03.18_to_2012.03.12.parsed.csv
log_onboard_2012.03.12_to_2012.03.14.parsed.csv
log_pars.csv
log_parsed.csv
log.parsed.csv
log_parsed.tsv

In [5]:
datum1 = pd.read_csv('./flight1.dbg.2012.kod.dat', header = 0, index_col=False, sep='\t')
datum2 = pd.read_csv('./flight2.dbg.2012.kod.dat', header = 0, index_col=False, sep='\t')
datum3 = pd.read_csv('./flight3.dbg.2012.kod.dat', header = 0, index_col=False, sep='\t')
datum4 = pd.read_csv('./flight4.dbg.2012.kod.dat', header = 0, index_col=False, sep='\t')
datum5 = pd.read_csv('./flight5.dbg.2012.kod.dat', header = 0, index_col=False, sep='\t')
len(datum1)

214

In [6]:
datum1['run'] = 1
datum2['run'] = 2
datum3['run'] = 3
datum4['run'] = 4
datum5['run'] = 5

In [5]:
datum1.columns

Index(['date', 'time', 'N', 'E', 'H', 'H-455', 'compass', 'kodP0', 'P_hpa0',
       'kodT0', 'T0,C', 'kodP1', 'P_hpa1', 'kodT1', 'T1,C', 'dP,kpa', 'U15,V',
       'U5,V', 'Uac,V', 'I,A', 'Tpow,C', 'Tmos,C', 'Bot,C', 'Top,C', 'Num',
       'Clin1', 'Clin2', 'run'],
      dtype='object')

In [7]:
data_by_2013 = [datum1, datum2,datum3,datum4,datum5]
datum = pd.concat(data_by_2013)

datum['compass'] *= 0.1 

# удалить ненужные столбцы
#del datum['NUM']
del datum['Num']

In [8]:
# Назначить типы столбцам
datum.dtypes

date         int64
time         int64
N          float64
E          float64
H          float64
H-455      float64
compass    float64
kodP0        int64
P_hpa0     float64
kodT0        int64
T0,C       float64
kodP1        int64
P_hpa1     float64
kodT1        int64
T1,C       float64
dP,kpa       int64
U15,V      float64
U5,V       float64
Uac,V      float64
I,A        float64
Tpow,C     float64
Tmos,C     float64
Bot,C      float64
Top,C      float64
Clin1      float64
Clin2      float64
run          int64
dtype: object

In [9]:
datum

,date,time,N,E,H,H-455,compass,kodP0,P_hpa0,kodT0,"T0,C",kodP1,P_hpa1,kodT1,"T1,C","dP,kpa","U15,V","U5,V","Uac,V","I,A","Tpow,C","Tmos,C","Bot,C","Top,C",Clin1,Clin2,run
0,13,132346,5147.8548,10423.2343,951.8,496.8,192.0,40287,909.5,36055,26.8,38080,2444.5,32113,-3.3,-153,14.97,5.16,18.74,2.69,32.75,-1.75,18.1,23.2,1.2,3.7,1
1,13,132446,5147.8548,10423.2339,951.9,496.9,192.0,40277,909.6,36072,26.9,38080,2444.6,32116,-3.2,-153,14.97,5.16,18.75,2.69,33.25,-1.75,18.2,23.5,1.3,3.6,1
2,13,132546,5147.8549,10423.2336,951.8,496.8,190.6,40267,909.6,36088,27.0,38083,2468.7,32116,-3.2,-155,14.97,5.16,18.74,2.70,33.75,-1.75,18.2,23.5,1.3,3.7,1
3,13,132646,5147.8552,10423.2335,951.9,496.9,191.8,40259,909.8,36109,27.2,38085,2484.7,32117,-3.2,-157,14.98,5.16,18.74,2.69,33.50,-1.50,18.3,23.7,1.3,3.6,1
4,13,132847,5147.8556,10423.2323,952.1,497.1,187.9,40236,909.9,36145,27.5,38077,2420.5,32120,-3.2,-151,14.97,5.16,18.74,2.72,34.25,-1.50,18.4,24.0,1.4,3.6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,27,205412,5147.9047,10423.2247,1022.8,567.8,331.4,39157,906.0,37493,37.7,37311,-3713.0,32940,4.1,461,14.96,5.17,18.63,2.86,43.00,6.00,33.4,34.6,-6.3,-2.0,5
246,27,205613,5147.9028,10423.2083,1019.3,564.3,316.8,39167,906.0,37487,37.7,37322,-3624.8,32934,4.0,453,14.97,5.17,18.63,2.89,43.25,5.75,33.2,34.6,-6.6,-0.8,5
247,27,205713,5147.9037,10423.2209,1022.6,567.6,333.8,39159,905.8,37485,37.7,37315,-3681.1,32930,4.0,458,14.97,5.17,18.63,2.88,42.75,6.00,33.3,34.5,-6.3,-1.3,5
248,27,205813,5147.8962,10423.2187,1024.5,569.5,334.6,39148,905.4,37481,37.7,37304,-3769.5,32925,3.9,467,14.96,5.17,18.64,2.85,42.75,6.00,33.2,34.4,-5.9,-1.0,5
249,27,205913,5147.8957,10423.2198,1027.0,572.0,326.7,39144,905.3,37478,37.6,37313,-3697.3,32921,3.9,460,14.96,5.16,18.63,2.89,42.75,5.75,33.2,34.5,-6.2,-1.0,5

In [10]:
datum.run.value_counts()

4    345
2    321
3    304
5    250
1    214
Name: run, dtype: int64

In [11]:
# посчитать высоту над поверхностью озера
H0 = datum.H.min()
print(H0)
#datum['H-455'] = datum.H - H0

835.1

In [13]:
datum.describe()

,date,time,N,E,H,H-455,compass,kodP0,P_hpa0,kodT0,"T0,C",kodP1,P_hpa1,kodT1,"T1,C","dP,kpa","U15,V","U5,V","Uac,V","I,A","Tpow,C","Tmos,C","Bot,C","Top,C",Clin1,Clin2,run
count,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,1434.000000,790.000000,790.000000,1434.000000
mean,20.103905,170372.707113,5147.868809,10423.258911,993.677894,538.677894,2348.980474,39856.826360,405.480753,36695.652022,31.626569,38182.062762,311.695188,31931.497211,-4.987517,9.428870,14.969895,5.162455,18.726736,2.737294,37.919979,-3.135112,21.238982,26.784728,-3.691139,0.826076,3.066946
std,4.731560,20139.980521,0.040126,0.075900,113.724560,113.724560,1172.292455,1096.931574,1317.323081,1100.176333,8.445090,925.368139,2239.535722,811.731240,7.321033,221.163742,0.009695,0.007086,0.026587,0.103130,8.415781,7.215317,9.676508,8.245966,2.899399,1.814127,1.324937
min,13.000000,132346.000000,5147.792400,10423.116500,835.100000,380.100000,7.000000,38510.000000,-3948.400000,33837.000000,9.300000,37021.000000,-4098.000000,30761.000000,-15.600000,-314.000000,14.950000,5.140000,18.620000,2.540000,15.500000,-14.000000,0.900000,5.700000,-11.500000,-4.600000,1.000000
25%,17.000000,153419.250000,5147.844800,10423.213000,924.150000,469.150000,1621.500000,39067.250000,879.775000,36205.250000,27.900000,37404.250000,-1484.275000,31010.000000,-13.300000,-164.000000,14.960000,5.160000,18.710000,2.690000,34.750000,-10.750000,13.725000,22.025000,-5.600000,-0.200000,2.000000
50%,18.000000,171111.000000,5147.857800,10423.230600,1023.350000,568.350000,2954.500000,39439.000000,906.700000,37003.000000,34.000000,37887.500000,-225.100000,32052.500000,-3.800000,-98.500000,14.970000,5.160000,18.730000,2.750000,40.750000,-2.000000,22.450000,27.200000,-4.000000,0.700000,3.000000
75%,24.000000,185350.000000,5147.875775,10423.296850,1035.200000,580.200000,3304.000000,40286.000000,909.400000,37577.750000,38.400000,39046.000000,2499.875000,32440.000000,-0.400000,175.750000,14.970000,5.170000,18.740000,2.790000,43.750000,1.250000,28.275000,34.500000,-2.900000,2.000000,4.000000
max,27.000000,205948.000000,5148.028100,10423.443800,1306.900000,851.900000,3592.000000,42483.000000,3971.400000,38362.000000,44.300000,39675.000000,4054.400000,33324.000000,7.400000,545.000000,15.000000,5.180000,18.770000,2.980000,50.750000,9.000000,37.400000,36.700000,1.500000,4.300000,5.000000

## Пересчет изменения координат в метры

In [12]:
# пересчет из координат в метры
# координаты стартовой площадки 2013: 
# 51 47.8154 N 104 23.3198E
# 51°47'48.9"N 104°23'19.2"E
# 51.796923, 104.388663
#
# Точка старта для 2012 года очень приблизительно: 
# 5147.813978 N 10423.327528 E (координаты наземного кунга)
# 5147.824 	10423.3140
# 
# длина дуги параллели dE в зависимости от широты в 1°, 1' и 1" по долготе, метров
#  0	111321	1855	31
# 51	70199	1170	19
# 52	68679	1145	19
# 
# Длина дуги меридиана dN в зависимости от широты в 1°, 1' и 1" по широте, метров
#  0	110579	1843	31
# 50	111278	1855	31
# 55	111370	1856	31

# длина одной минуты в метрах
dE0m = 1150.426
dN0m = 1855.324

# координаты места старта 2012 в минутах широты или долготы
N0 = 5147.824   #5147.813978  #5147.8154
E0 = 10423.3140 #10423.3198

In [13]:
datum['dN'] = (datum['N'] - N0) * dN0m
datum['dE'] = (datum['E'] - E0) * dE0m

# Посчитать давление и температуру по данным барометров

In [16]:
# calculate values of pressure & temperature from kods pp & tt
# pp - pressure kod, tt - temperature kod  in INT numbers

def calc_bar_temp(pp, tt, ptype):

    ## set formula parameters
    a  = [4, 7., 16., 6, 13]
    c  = [7.0, 13919.0, 1793.0, 198.0, 131.0, 35820.0, 5066.0, 2500.0]  ## C0 onboard 0
    c1 = [7.0, 16762.0, 2083.0, 310.0, 750.0, 35424.0, 5338.0, 2500.0]  ## C1 onboard 1
    c2 = [7.0, 27626.0, 3949.0, 314.0, 317.0, 30355.0, 5441.0, 2500.0]  ## C2 ground 0
    c3 = [7.0, 18489.0, 2736.0, 292.0, 356.0, 35569.0, 5253.0, 2500.0]  ## C3 ground 1
    
    if ptype == 0:   ## barometer onboard 1
        c = c
    elif ptype == 1: ## barometer onboard 1
        c = c1
    elif ptype == 2: ## barometer ground 0 
        c = c2
    elif ptype == 3: ## barometer ground 0
        c = c3
    elif ptype == 10: ## example barometer
        c = [7, 29908, 3724, 312, 441, 9191, 3990, 2500]
        a = [4, 1, 4, 4, 9]
    else:
        print("\n\n Error! Unknown coefficient set!!! \n")
        return
     
    ## -- 1 step: --  
    dUT  = tt - c[5]
    qqq  = dUT * dUT / (128.0 * 128.0 * (2 ** a[3])) 
    if(tt < c[5]):
        qqq *= a[2]
    else:
        qqq *= a[1]
    dUT -= qqq
 
    ### -- step 2 --
    OFF = (c[2] + (c[4] - 1024.0) * dUT / 16384.0 ) * 4
    SENS = c[1] + (c[3] * dUT / 1024.0)
    X = SENS * (pp - 7168) / 16384 - OFF
    P = X * 100.0/ 32.0 + c[7] * 10
    P = P #/ 10
     
    ### -- step 3: calculate temperature --
    T = 250 + dUT * c[6] / 65536 - dUT/ (2 ** a[4])
    T = T / 10

    #print("Bar:  T[ %5i ] = %5.1f C  P[ %5i ] = %6.2f kPa (%4.1f mm w)" % (tt, T, pp, P/100, P/0.981) )
    return P/100, T

In [17]:
datum['P_hpa0'] = datum.apply(lambda row : calc_bar_temp(row['kodP0'],row['kodT0'], 0)[0], axis = 1)
datum['T0,C'] = datum.apply(lambda row : calc_bar_temp(row['kodP0'],row['kodT0'], 0)[1], axis = 1)
datum['P_hpa1'] = datum.apply(lambda row : calc_bar_temp(row['kodP1'],row['kodT1'], 1)[0], axis = 1)
datum['T1,C'] = datum.apply(lambda row : calc_bar_temp(row['kodP1'],row['kodT1'], 1)[1], axis = 1)

In [18]:
datum.columns

Index(['date', 'time', 'N', 'E', 'H', 'H-455', 'compass', 'kodP0', 'P_hpa0',
       'kodT0', 'T0,C', 'kodP1', 'P_hpa1', 'kodT1', 'T1,C', 'dP,kpa', 'U15,V',
       'U5,V', 'Uac,V', 'I,A', 'Tpow,C', 'Tmos,C', 'Bot,C', 'Top,C', 'Clin1',
       'Clin2', 'run', 'dN', 'dE'],
      dtype='object')

In [19]:
datum

,date,time,N,E,H,H-455,compass,kodP0,P_hpa0,kodT0,"T0,C",kodP1,P_hpa1,kodT1,"T1,C","dP,kpa","U15,V","U5,V","Uac,V","I,A","Tpow,C","Tmos,C","Bot,C","Top,C",Clin1,Clin2,run,dN,dE
0,13,132346,5147.8548,10423.2343,951.8,496.8,192.0,40287,909.595422,36055,26.810860,38080,908.556184,32113,-3.288606,-153,14.97,5.16,18.74,2.69,32.75,-1.75,18.1,23.2,1.2,3.7,1,57.143979,-91.688952
1,13,132446,5147.8548,10423.2339,951.9,496.9,192.0,40277,909.651425,36072,26.941638,38080,908.622045,32116,-3.261743,-153,14.97,5.16,18.75,2.69,33.25,-1.75,18.2,23.5,1.3,3.6,1,57.143979,-92.149123
2,13,132546,5147.8549,10423.2336,951.8,496.8,190.6,40267,909.688279,36088,27.064695,38083,908.711938,32116,-3.261743,-155,14.97,5.16,18.74,2.70,33.75,-1.75,18.2,23.5,1.3,3.7,1,57.329512,-92.494250
3,13,132646,5147.8552,10423.2335,951.9,496.9,191.8,40259,909.872977,36109,27.226169,38085,908.793822,32117,-3.252789,-157,14.98,5.16,18.74,2.69,33.50,-1.50,18.3,23.7,1.3,3.6,1,57.886109,-92.609293
4,13,132847,5147.8556,10423.2323,952.1,497.1,187.9,40236,909.941424,36145,27.502874,38077,908.619949,32120,-3.225929,-151,14.97,5.16,18.74,2.72,34.25,-1.50,18.4,24.0,1.4,3.6,1,58.628238,-93.989804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,27,205412,5147.9047,10423.2247,1022.8,567.8,331.4,39157,905.919290,37493,37.767831,37311,903.063525,32940,4.032070,461,14.96,5.17,18.63,2.86,43.00,6.00,33.4,34.6,-6.3,-2.0,5,149.724647,-102.733042
246,27,205613,5147.9028,10423.2083,1019.3,564.3,316.8,39167,906.081679,37487,37.722556,37322,903.272938,32934,3.979568,453,14.97,5.17,18.63,2.89,43.25,5.75,33.2,34.6,-6.6,-0.8,5,146.199531,-121.600028
247,27,205713,5147.9037,10423.2209,1022.6,567.6,333.8,39159,905.828034,37485,37.707464,37315,902.975665,32930,3.944563,458,14.97,5.17,18.63,2.88,42.75,6.00,33.3,34.5,-6.3,-1.3,5,147.869323,-107.104661
248,27,205813,5147.8962,10423.2187,1024.5,569.5,334.6,39148,905.456545,37481,37.677278,37304,902.535545,32925,3.900800,467,14.96,5.17,18.64,2.85,42.75,6.00,33.2,34.4,-5.9,-1.0,5,133.954393,-109.635598
249,27,205913,5147.8957,10423.2198,1027.0,572.0,326.7,39144,905.293347,37478,37.654637,37313,902.725862,32921,3.865785,460,14.96,5.16,18.63,2.89,42.75,5.75,33.2,34.5,-6.2,-1.0,5,133.026731,-108.370129

## Save data to file

In [22]:
datum.to_csv('datum_2012.csv')

In [23]:
datum[['run', 'time', 'Clin1', 'Clin2']].to_csv('clin_2012.csv')